<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sighup</title>
    <link rel="stylesheet" href="/style.css">


</head>
<body>
<div class="card">
  <h1>Signup 🌟</h1>

  <form action="/signup" method="post">
    <input type="email" name="username" placeholder="Enter email">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Signup">
  </form>
</div>
</body>
</html>