<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sighup</title>
    <link rel="stylesheet" href="/style.css">


</head>
<body>
    <h1>signup pages</h1>
    <form action="/signup" method="post">
    <input type="email" name="username" required>
    <input type="password" name="password" required>
    <input type="submit">
</body>
</html>